@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

$font-family: 'Plus Jakarta Sans', sans-serif;

//media queries
$xl-desktop: 1747px;
$desktop: 1160px;
$tablet: 768px;

// colors

$dark-blue-gray: hsla(234, 25%, 52%, 1);
$blue: hsla(234, 53%, 16%, 1);
$silver: hsla(232, 10%, 56%, 1);
$bright-pink: hsla(341, 92%, 62%, 1);
$light-pink: hsla(341, 100%, 83%, 1);
$white: hsla(0, 0%, 100%, 1);

$pink-gradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$light-pink-gradient: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
$purple-gradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
$light-purple-gradient: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),
  linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 500;
}

/* set up the body */
body {
  font-family: $font-family;
  min-height: 100vh;
  overflow-x: hidden;
}

/* make images easier to work with */
img,
picutre {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

//typography
.xl {
  font-size: 56px;
  line-height: 70px;
  font-weight: 800;
  color: $blue;
}

.lg {
  font-size: 40px;
  line-height: 51px;
  font-weight: 800;
  color: $blue;
}
.med {
  font-size: 24px;
  line-height: 32px;
  font-weight: 800;
  color: $blue;
  @media (min-width: $desktop) {
    font-size: 32px;
    line-height: 40px;
    font-weight: 800;
    color: $blue;
  }
}
.sm {
  font-size: 20px;
  line-height: 25.2px;
  font-weight: 800;
  color: $blue;
  @media (min-width: $desktop) {
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    color: $blue;
  }
}
.xsm {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: $silver;
}
.xxsm {
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  color: $silver;
}

.logo {
  font-weight: 800;
  font-size: 28px;
  line-height: 35.28px;
  text-decoration: none;
  @media (min-width: $desktop) {
    font-weight: 800;
    font-size: 36px;
    line-height: 45.36px;
    text-decoration: none;
  }

  &.header {
    color: $blue;
    @media (min-width: $desktop) {
      margin-left: 3.7rem;
    }
  }

  &.footer {
    color: $white;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

//buttons

.btn {
  max-width: 100%;
  border-radius: 28px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  color: $white;
  padding: 0.5rem 1.5rem;
  border: none;
  text-transform: capitalize;
  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    padding: 0.9rem 2rem;
  }

  &.btn-dark {
    background-color: $blue;

    &:hover,
    &:active {
      background-color: $dark-blue-gray;
    }
  }
  &.btn-pink {
    background: $pink-gradient;
    padding: 0.9rem 2rem;

    &:hover,
    &:active {
      background: $light-pink-gradient;
    }
  }
  &.btn-purple {
    background: $purple-gradient;

    &:hover,
    &:active {
      background: $light-purple-gradient;
    }
  }
}

.cta {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: $bright-pink;
  text-decoration: none;
  margin-top: 1rem;

  &:hover,
  &:active {
    color: $light-pink;
  }
}

//components

nav {
  // this was supposed to let the image pass under the header but not working????
  &.header {
    background-color: transparent;
  }
  .footer,
  .header {
    // margin: 0 0.5rem;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $tablet) {
      // padding-left: 2rem;
      margin-right: 2rem;
    }
    @media (min-width: $desktop) {
      // padding-left: 4.6rem;
      margin-right: 10rem;
    }
  }
}

.hero-content {
  padding: 1rem;
  & * {
    margin-bottom: 1.5rem;
  }
}

.card-component {
  border-radius: 15px;
  padding: 2rem;
  position: relative;
  margin-top: 1rem;
  background: $pink-gradient;
  display: flex;
  justify-content: center;
  align-items: baseline;

  h2 {
    color: $white;
  }

  @media (min-width: $tablet) {
    margin-top: 3.1rem;
  }
}

.card-component--cta {
  border-radius: 15px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  padding: 3rem;
  position: relative;
  margin-top: 3rem;
  background-color: $white;

  @media (min-width: $tablet) {
    padding: 1.5rem;
  }

  .card-body {
    & h3,
    & p {
      margin-top: 1rem;
    }
  }

  .card-icon {
    position: absolute;
    top: -28px;
    left: 47px;
  }
}

footer {
  background: $blue;
  flex-shrink: 0;
}

//layout

.hero {
  display: flex;
  flex-direction: column;
  margin: auto;
  // min-height: 60vh;
  width: 100%;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    overflow: hidden;
    position: relative;
    min-height: 50vh;
  }
  @media (min-width: $desktop) {
    min-height: 50vh;
  }
  .hero-content {
    @media (min-width: $tablet) {
      width: 50%;
      // flex-grow: 75%;
      margin-bottom: 8rem;
    }
    @media (min-width: $desktop) {
      padding: 5rem;
    }
  }

  .hero-mobile {
    max-width: none;
    @media (min-width: $tablet) {
      display: none;
    }
    @media (min-width: $desktop) {
      display: none;
    }
  }
  .hero-image-container {
    .hero-mobile {
      @media (min-width: $tablet) {
        display: none;
      }
      @media (min-width: $desktop) {
        display: none;
      }
    }
    @media (min-width: $tablet) {
      position: relative;
    }
  }

  .hero-tablet {
    display: none;
    @media (min-width: $tablet) {
      display: block;
      position: absolute;
      top: -449px;
      left: -13px;
      //   z-index: -1;
      // max-width: 100%;
      max-width: 700px;
    }
    @media (min-width: $desktop) {
      display: none;
    }
    @media (min-width: $xl-desktop) {
      display: none;
    }
  }
  .hero-desktop {
    display: none;
    // @media (min-width: $tablet) {
    //   display: block;
    //   position: absolute;
    //   top: -394px;
    //   left: -36px;
    //   //   z-index: -1;
    //   max-width: 700px;
    // }
    @media (min-width: $desktop) {
      display: block;
      position: absolute;
      top: -577px;
      left: -75px;
      z-index: -1;
      max-width: fit-content;
    }
    @media (min-width: $xl-desktop) {
      display: block;
      position: absolute;
      top: -599px;
      left: 197px;
      z-index: -1;
    }
  }
  // .hero-tablet-desktop {
  //   display: none;
  //   @media (min-width: $tablet) {
  //     display: block;
  //     position: absolute;
  //     top: -394px;
  //     left: -36px;
  //     //   z-index: -1;
  //     max-width: 700px;
  //   }
  //   @media (min-width: $desktop) {
  //     display: block;
  //     position: absolute;
  //     top: -577px;
  //     left: -75px;
  //     z-index: -1;
  //     max-width: fit-content;
  //   }
  //   @media (min-width: $xl-desktop) {
  //     display: block;
  //     position: absolute;
  //     top: -599px;
  //     left: 333px;
  //     z-index: -1;
  //   }
  // }
}

.card-grid {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 5rem 1rem;

  @media (min-width: $tablet) {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
